.demo {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background: rgb(51,48,116);
background: linear-gradient(90deg, rgba(51,48,116,1) 0%, rgba(92,43,103,1) 15%, rgba(187,29,70,1) 53%, rgba(216,128,40,1) 78%, rgba(255,145,0,1) 100%);
}

body .main {
  height: 900px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .number {
  font-size: 10rem;
  font-weight: 700;
  color: #fff;
}

.main .btn-click {
  color: #bb1d46;
  background-color: #ffd900;
  font-size: 3rem;
  width: 40%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}